$verde_floor: #84ff00;
$verde: #69ca00;
$azul: #00dcff;
$cinza: #333333;
$cinza_claro: #555555;
$preto: #111111;
$branco: #fff;

$celular: max-width 440px;
$tablet: max-width 991px;
$pc: min-width 992px;
